<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'assets/deforestation.ico')}}">
    <title>deforestation detector</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
  </head>

  <body>
    <div>
    <h1 style = 'margin-top: 100px;'>Image Classification</h1>
                
    
    
    <form method="post" action="/classify_image" enctype="multipart/form-data">
        <dl>
            <p>
                
                <h1 style="margin-bottom: 20px;">Enter Image</h1>
                
                <input type="file" name="image2" class="form-control" autocomplete="off" required >
                

            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info" style = 'font-size:25px; padding: 10px;'>
        </p>
    </form>
</div>
 
    <script src=""></script>
  </body>
</html>